{% include "base.html" %}

    <!-- Main Content -->
    <div class="container">
        <h4 class="my-4 text-center">Organize a Meet</h4>
        
        <!-- Profile Photo -->
        <form action="{{ url_for('main.meetup', group_id=group_id) }}" method="post">
            <div class="row">

                <div class="col-12 my-3">
                    <label class="label">Activity</label>
                    <select class="form-control" name="activity" id="exampleFormControlSelect1">
                        <option value="social">Social</option>
                        <option value="outAdv">Outdoor/ Adventure</option>
                        <option value="culEdu">Culteral/ Educational</option>
                        <option value="EntLei">Entertainment/ Leisure</option>
                        <option value="corPro">Corporate/ Professional</option>
                      </select>
                </div>

                <div class="col-12">
                    <label class="label">Date</label>
                    <input name="date" type="date" class="form-control input-field">
                </div>

                <div class="col-6">
                    <label class="label">Time:</label>
                    <input type="time" name="time" class="form-control input-field">
                </div>

                <div class="col-6">
                    <label class="label">Duration:</label>
                    <select class="form-control" name="duration">
                        <option value="15">15 min</option>
                        <option value="30">30 min</option>
                        <option value="45">45 min</option>
                        <option value="60">1 hr</option>
                        <option value="120">2 hrs</option>
                        <option value="180">3 hrs</option>
                        <option value="00"> > 5 hrs</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-dark">NEXT</button>
            </div>
        </form>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  </body>
</html>